
 ErrorDocument 404 / 
 RewriteEngine On 
 RewriteRule ^home?$ index.php 
 RewriteRule ^about?$ About.php 
 RewriteRule ^product?$ Product.php 
 RewriteRule ^service?$ Service.php 
 RewriteRule ^our-works?$ Works.php 
 RewriteRule ^blog?$ Blogs.php 
 RewriteRule ^contact?$ Contact.php 
 RewriteRule ^privacy-policy?$ Privacy.php 
 RewriteRule ^terms--conditions?$ Terms.php 
 RewriteRule ^cookie-policy?$ CookiePage.php 
 RewriteRule ^behind-the-scenes-how-we-craft-custom-uniforms-wi?$ BlogDetail.php?ref=S0009 
 RewriteRule ^we’re-expanding-now-offering-personalized-mugs?$ BlogDetail.php?ref=S0010 
 RewriteRule ^work-1?$ WorkDetail.php?ref=S0011 
 RewriteRule ^work-2?$ WorkDetail.php?ref=S0012 
 RewriteRule ^work-3?$ WorkDetail.php?ref=S0013 
 RewriteRule ^work-4?$ WorkDetail.php?ref=S0014 
 RewriteRule ^work-5?$ WorkDetail.php?ref=S0015 
 RewriteRule ^work-6?$ WorkDetail.php?ref=S0016 
 RewriteRule ^international-product-sourcing--shipping?$ ServiceDetail.php?ref=S0017 
 RewriteRule ^custom-printing--embroidery?$ ServiceDetail.php?ref=S0018 
 RewriteRule ^bulk-orders--corporate-branding?$ ServiceDetail.php?ref=S0019 
 RewriteRule ^design-consultation--product-customization?$ ServiceDetail.php?ref=S0020 
 RewriteRule ^work-7?$ WorkDetail.php?ref=S0021 
 RewriteRule ^work-8?$ WorkDetail.php?ref=S0022 
 RewriteRule ^work-9?$ WorkDetail.php?ref=S0023 
 RewriteRule ^work-10?$ WorkDetail.php?ref=S0024 
 RewriteRule ^work-11?$ WorkDetail.php?ref=S0025 
 RewriteRule ^the-ultimate-fabric-guide.?$ BlogDetail.php?ref=S0026 
 RewriteRule ^choosing-the-perfect-hat-a-guide-to-popular-style?$ BlogDetail.php?ref=S0027 
 RewriteRule ^how-to-choose-the-perfect-fabric-for-high-performa?$ BlogDetail.php?ref=S0028 
 RewriteRule ^choosing-the-right-bag-style-top-custom-bags-for?$ BlogDetail.php?ref=S0029 
 RewriteRule ^cloth-bags-P0001?$ ProductDetail.php?ref=P0001 
 RewriteRule ^t-shirt-P0002?$ ProductDetail.php?ref=P0002 
 RewriteRule ^uniforms-P0003?$ ProductDetail.php?ref=P0003 
 RewriteRule ^mugs-P0004?$ ProductDetail.php?ref=P0004 
 RewriteRule ^caps--hats-P0005?$ ProductDetail.php?ref=P0005 
 RewriteRule ^notebooks-P0006?$ ProductDetail.php?ref=P0006 
 RewriteRule ^uniforms-P0007?$ ProductDetail.php?ref=P0007 
 RewriteRule ^tote-bags-P0008?$ ProductDetail.php?ref=P0008 
 RewriteRule ^mugs-P0009?$ ProductDetail.php?ref=P0009 
 RewriteRule ^cloth-bags?$ Product.php?cat=C0004 
 RewriteRule ^t-shirt?$ Product.php?cat=C0005 
 RewriteRule ^uniforms?$ Product.php?cat=C0006 
 RewriteRule ^mugs?$ Product.php?cat=C0007 
 RewriteRule ^caps--hats?$ Product.php?cat=C0008 
 RewriteRule ^notebooks?$ Product.php?cat=C0009 
 RewriteRule ^umbrellas?$ Product.php?cat=C0010 
 RewriteRule ^water-bottles?$ Product.php?cat=C0011 
 RewriteRule ^bags?$ Product.php?cat=C0012 
 RewriteRule ^keychains?$ Product.php?cat=C0013 
 RewriteRule ^pens?$ Product.php?cat=C0014 
 RewriteRule ^gift-sets?$ Product.php?cat=C0015 
 RewriteRule ^service-1?$ Service.php?cat=C0001 
 RewriteRule ^service-2?$ Service.php?cat=C0002 
 RewriteRule ^service-3?$ Service.php?cat=C0003 
 RewriteRule ^หน้าแรก?$ index.php 
 RewriteRule ^เกี่ยวกับเรา?$ About.php 
 RewriteRule ^สินค้า?$ Product.php 
 RewriteRule ^การบริการ?$ Service.php 
 RewriteRule ^งานของเรา?$ Works.php 
 RewriteRule ^บทความ?$ Blogs.php 
 RewriteRule ^ติดต่อเรา?$ Contact.php 
 RewriteRule ^นโยบายความเป็นส่วนตัว?$ Privacy.php 
 RewriteRule ^ข้อกำหนดและเงื่อนไข?$ Terms.php 
 RewriteRule ^cookie-policy?$ CookiePage.php 
 RewriteRule ^behind-the-scenes-how-we-craft-custom-uniforms-wi?$ BlogDetail.php?ref=S0009 
 RewriteRule ^we’re-expanding-now-offering-personalized-mugs?$ BlogDetail.php?ref=S0010 
 RewriteRule ^work-1?$ WorkDetail.php?ref=S0011 
 RewriteRule ^work-2?$ WorkDetail.php?ref=S0012 
 RewriteRule ^work-3?$ WorkDetail.php?ref=S0013 
 RewriteRule ^work-4?$ WorkDetail.php?ref=S0014 
 RewriteRule ^work-5?$ WorkDetail.php?ref=S0015 
 RewriteRule ^work-6?$ WorkDetail.php?ref=S0016 
 RewriteRule ^international-product-sourcing--shipping?$ ServiceDetail.php?ref=S0017 
 RewriteRule ^custom-printing--embroidery?$ ServiceDetail.php?ref=S0018 
 RewriteRule ^bulk-orders--corporate-branding?$ ServiceDetail.php?ref=S0019 
 RewriteRule ^design-consultation--product-customization?$ ServiceDetail.php?ref=S0020 
 RewriteRule ^คัมภีร์การเลือกเนื้อผ้า?$ BlogDetail.php?ref=S0021 
 RewriteRule ^เลือกหมวกทรงไหนให้ปัง-เจาะลึกประเภทหมวกยอดฮิตสำหร?$ BlogDetail.php?ref=S0022 
 RewriteRule ^เลือกเนื้อผ้าเสื้อกีฬาอย่างไร-ให้ตอบโจทย์สาย-acti?$ BlogDetail.php?ref=S0023 
 RewriteRule ^เลือกกระเป๋าแบบไหนให้โดนใจ-เจาะลึกรูปแบบกระเป๋าพร?$ BlogDetail.php?ref=S0024 
 RewriteRule ^cloth-bags-P0001?$ ProductDetail.php?ref=P0001 
 RewriteRule ^t-shirt-P0002?$ ProductDetail.php?ref=P0002 
 RewriteRule ^uniforms-P0003?$ ProductDetail.php?ref=P0003 
 RewriteRule ^mugs-P0004?$ ProductDetail.php?ref=P0004 
 RewriteRule ^caps--hats-P0005?$ ProductDetail.php?ref=P0005 
 RewriteRule ^notebooks-P0006?$ ProductDetail.php?ref=P0006 
 RewriteRule ^uniforms-P0007?$ ProductDetail.php?ref=P0007 
 RewriteRule ^tote-bags-P0008?$ ProductDetail.php?ref=P0008 
 RewriteRule ^mugs-P0009?$ ProductDetail.php?ref=P0009 
 RewriteRule ^cloth-bags?$ Product.php?cat=C0004 
 RewriteRule ^t-shirt?$ Product.php?cat=C0005 
 RewriteRule ^uniforms?$ Product.php?cat=C0006 
 RewriteRule ^mugs?$ Product.php?cat=C0007 
 RewriteRule ^caps--hats?$ Product.php?cat=C0008 
 RewriteRule ^notebooks?$ Product.php?cat=C0009 
 RewriteRule ^umbrellas?$ Product.php?cat=C0010 
 RewriteRule ^water-bottles?$ Product.php?cat=C0011 
 RewriteRule ^bags?$ Product.php?cat=C0012 
 RewriteRule ^keychains?$ Product.php?cat=C0013 
 RewriteRule ^pens?$ Product.php?cat=C0014 
 RewriteRule ^gift-sets?$ Product.php?cat=C0015 
 RewriteRule ^service-1?$ Service.php?cat=C0001 
 RewriteRule ^service-2?$ Service.php?cat=C0002 
 RewriteRule ^service-3?$ Service.php?cat=C0003 